@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
/* Gallery Part */
#root .gallery h2 {
  font-family: 'Architects Daughter', cursive;
  color: white;
  text-align: center;
  font-size: 50px;
}

/* Loading Part */
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 1000px;
}

.loading .loading-icon {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
  width: 47px;
  height: 47px;
  background: url("loading-icon.png") center no-repeat;
  margin: 0 auto;
}

.loading p {
  font-family: 'Architects Daughter', cursive;
  color: white;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
}